@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
  --bg-color: #F7F7B9;
}

html, body {
  background-color: var(--bg-color);
}
body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

  @keyframes infinite-scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  .animate-infinite-scroll {
    animation: infinite-scroll 15s linear infinite;
  }
  .group:hover .animate-infinite-scroll {
    animation-play-state: paused;
  }


@keyframes lineOut {
    0% { transform: scaleX(0); transform-origin: left; }
    50% { transform: scaleX(1); transform-origin: left; }
    51% { transform-origin: right; }
    100% { transform: scaleX(0); transform-origin: right; }
}

.hover\:animate-line-out:hover {
    animation: lineOut 1s ease-out forwards;
}
