@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
  --bg-color: #F7F7B9;
}

html, body {
  background-color: var(--bg-color);
}
body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

  @keyframes infinite-scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  .animate-infinite-scroll {
    animation: infinite-scroll 15s linear infinite;
  }
  .group:hover .animate-infinite-scroll {
    animation-play-state: paused;
  }


@keyframes infinite-scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.animate-infinite-scroll {
    animation: infinite-scroll 30s linear infinite;
    display: inline-flex;
    min-width: 200%; /* Увеличиваем ширину для плавности */
}

.group:hover .animate-infinite-scroll {
    animation-play-state: paused;
}



.shrink-animation {
    --start-scale: 1.15;
    --end-scale: 1;
    animation: shrink 1s ease-out forwards;
    transform-origin: center;
}

@keyframes shrink {
    from { transform: scale(var(--start-scale)); }
    to { transform: scale(var(--end-scale)); }
}
